html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  0776A0  226078  024C68  3AA6D0  62B1D0
*/
a {
  text-decoration: none;
  color: #3aa6d0;
  transition: color 0.3s ease, background-color 0.3s ease;
}
a:hover {
  color: #024c68;
}
body {
  background: #f5f5f5;
  color: #333;
  font-family: Lora;
  padding: 4rem 0rem;
}
body > header {
  width: 70%;
  margin: auto;
  padding: 0em 0em 1em 0em;
  border-bottom: 1px solid #3aa6d0;
}
body > header h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.25em 0em;
}
body > header h1 img {
  height: 2.2rem;
  border-radius: 9999px;
  margin: 0rem 0.5rem;
}
body > header nav a {
  display: inline-block;
  padding: 0rem 2rem 0rem 0rem;
  line-height: 2em;
  border-radius: 3px;
}
body article {
  width: 70%;
  margin: auto;
  padding-bottom: 1em;
  border-bottom: 1px solid #3aa6d0;
}
body article > header h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 2em 0em;
}
body article p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.6em;
  padding: 0.5em 0em;
}
body article h2,
body article h3,
body article h4,
body article h5,
body article h6 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem 0;
}
body article ul {
  list-style-type: none;
}
body article ul li {
  padding: 0.75em 1em;
  line-height: 1.6em;
}
body article ul#posts li {
  display: block;
  background: #f5f5f5;
  border-top: 1px solid #999;
  transition: background 0.3s ease;
}
body article ul#posts li a {
  display: block;
  padding: 0em 0.25em;
}
body article ul#posts li a small {
  font-size: 0.8rem;
  font-style: italic;
  color: #333 !important;
}
body article ul#posts li:hover {
  background: #e0e0e0;
}
body article > footer {
  padding: 1rem 0rem;
}
body article > footer time {
  float: right;
  color: #444;
}
article#experience::after {
  content: ' ';
  display: block;
  clear: both;
}
article#experience section.half {
  display: block;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 1em;
}
article#experience section.half.cl {
  clear: left;
}
article#experience section.half h3 {
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1em 0;
}
article#experience section.half ul.cloud {
  text-align: center;
}
article#experience section.half ul.cloud li {
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  border: 1px solid #999;
  border-radius: 8px;
  color: #f5f5f5;
  background: #62b1d0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.highlight {
  padding: 0.5em;
  overflow: auto;
}
.highlight pre code {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.2em;
}
