@require 'reset'

/*
  0776A0  226078  024C68  3AA6D0  62B1D0
*/
color1 = #0776a0
color2 = #226078
color3 = #024c68
color4 = #3aa6d0
color5 = #62b1d0

monofont = 'Source Code Pro', monospace

a
  text-decoration none
  color           #3aa6d0
  transition      color .3s ease, background-color .3s ease
a:hover
  color           #024c68

body
  background    #f5f5f5
  color         #333333
  font-family   Lora
  padding       4rem 0rem

  & > header
    width           70%
    margin          auto
    padding         0em 0em 1em 0em
    border-bottom   1px solid #3aa6d0
    h1
      font-size     3rem
      font-weight   bold
      padding       .25em 0em
      img
        height          2.2rem
        border-radius   9999px
        margin          0rem .5rem
    nav 
      a
        display       inline-block
        padding       0rem 2rem 0rem 0rem
        line-height   2em
        border-radius 3px

  article
    width           70%
    margin          auto
    padding-bottom  1em
    border-bottom   1px solid #3aa6d0
    & > header 
      h1
        font-size   2rem
        font-weight bold
        text-align  center
        padding     2em 0em
    p
      text-align  justify
      font-size   1.2rem
      line-height 1.6em
      padding     .5em 0em
    h2, h3, h4, h5, h6
      font-size   1.4rem
      font-weight bold
      margin      1rem 0
    ul
      list-style-type  none
      li
        padding         .75em 1em
        line-height     1.6em
    img
      max-width         100%
    ul#posts
      li
        display         block
        background      #f5f5f5
        border-top      1px solid #999
        transition      background .3s ease 
        a
          display       block
          padding       0em .25em
          small
            font-size   .8rem
            font-style  italic
            color       #333 !important
      li:hover
        background      #e0e0e0
    & > footer
      padding       1rem 0rem
      time
        float       right
        color       #444

article#experience
  &::after
    content           ' ' 
    display           block
    clear             both
  section.half
    &.cl
      clear           left
    display           block
    box-sizing        border-box
    width             50%
    float             left
    padding           1em
    h3
      font-weight     bold
      font-size       1.6rem
      padding         1em 0
    ul.cloud
      text-align      center
      li
        font-family   monofont
        display       inline-block
        padding       .25em .5em
        margin        .25em
        border        1px solid #999
        border-radius 8px
        color         #f5f5f5
        background    color5

strong
  font-weight       bold
em
  font-style        italic

.highlight 
  padding             .5em
  overflow            auto
  pre code
    font-family       monofont
    line-height       1.2em

@media screen and (max-width: 640px)
  html
    font-size   80%
    article#experience section.half
      width     100%
      padding   0
