| ---
| layout: default
| title: Posts
| ---
| 
article
  header
    h1 Posts
  ul#posts
    | {% for post in site.posts %}
    li
      a(href="{{ post.url }}")
        | {{ post.title }}
        br
        small {{ post.date | date_to_string }}
    | {% endfor %}
article
  header
    h1 Finance & Risk Management
  section
    p
      a(href='/firm/QuantFinAndDer.pdf') Here 
      | you can find my notes for the class in Quantitative Finance and Derivatives.

    //p Notes for some of the classes from the Finance and Risk Management MSc. Work in progress!
    //ul
      li Quantitative Finance and Derivatives 
        a(href='/firm/QuantFinAndDer.html') [view online] 
        a(href='/firm/QuantFinAndDer.pdf') [pdf]
