| ---
| layout: default
| ---
| 
article#experience
  header
    h1 Hi!
  section
    // p I'm a freelance software developer. Frontend web development is my specialty, but I cultivate interest in a wide variety of topics related to programming and mathematics.
    p 
      | I'm a software developer and quantitative analyst. I cultivate interest in a wide variety of
      | topics related to programming, mathematics and finance.
    p 
      | I hold a Bachelor of Science degree in 
      a(href='http://www.informatica.unifi.it',target='_blank') Computer Science 
      | , with a thesis on 
      a(href='/thesis-bsc.pdf',target='_blank') Procedural Content Generation and Real-time Rendering Techniques 
      | and a Master of Science degree cum laude in 
      a(href='http://www.frm.unifi.it',target='_blank') Finance and Risk Management
      | , with a thesis on 
      a(href='/thesis-msc.pdf',target='_blank') Deep Learning Models for High-Frequency Cryptocurrency Forecasting
      | .
    p.
      When I'm not writing code for fun or profit,
      I enjoy <a target='_blank' href='https://en.wikipedia.org/wiki/Speedrun'>speedrunning videogames</a>.
      It's a hobby that requires quick thinking, a lot of practice, patience, perseverance and creativity.
      My main speedgame is <a href='https://it.wikipedia.org/wiki/Dark_Souls_III' target='_blank'>Dark Souls III</a>.
      I'm involved in the
      community, and met in it a lot of nice people I like to call friends. I stream my attempts live over
      <a href="http://twitch.tv/johndisandonato" target="_blank">Twitch.tv</a>. I also enjoy developing 
      mods and tools to both assist the speedrunning practice and make it more interesting and fun.

  section.half
    h3 Quantitative finance
    p.
      I grew interested in financial markets and trading sometime before finishing my BSc.
      Nassim Nicholas Taleb's books inspired me to leverage the mathematical and statistical
      techniques of quantitative finance and econometrics while being wary of relying too much
      on non-provable models and theory. I extensively use <strong>Python</strong> with its data
      science toolchain for backtesting trading strategies on equity and futures. I employ
      <strong>C++</strong> when it is necessary to optimize execution speed. I'm interested in
      studying <strong>deep learning</strong> techniques as I believe there is value yet
      undiscovered in nonlinear optimization for financial applications.
  section.half
    h3 Computer science
    p.
      I think a scientific approach to software design is fundamental for achieving the best possible
      results in terms of code correctness, mantainability and efficiency.
      Moreover, relying upon academical findings and research can greatly aid in finding elegant 
      solutions to complex problems.
    p.
      This is one of the reasons I'm learning pure functional programming and
      the <strong>Haskell</strong> language.
    ul.cloud
      li Formal languages
      li Cellular automata
      li Fractals
      li Computability
      li Information theory
      li Artificial intelligence
      li Neural networks
      li Analysis of algorithms
      li Graphs and data structures
      li Signal processing
      li Digital image processing
      li Human computer interaction
  section.half
    h3 Frontend Web Development
    p.
      <strong>Javascript</strong> is the programming language I'm most proficient in. I have experience
      in optimizing computationally intense algorithms, exploiting the latest web standards, implementing
      graceful degradation and designing consistent, fault-tolerant, cross-browser behaviors.
    p.
      I tend to meticulously structure my workflows by employing standard tools and a sound, semantic
      code structure. My favorite tools for the job are <strong>Webpack</strong> and 
      <strong>ESLint</strong>. The Javascript ecosystem has come a long way, and we finally get to have
      sane, opinionated frameworks with all-encompassing toolchains. By far, my favorite is <strong>Vue.js</strong>.
    ul.cloud
      li Javascript
      li HTML5
      li CSS3
      li Vue.js
      li D3.js
      li WebGL
      li Canvas
      li SVG
  section.half
    h3 3D Graphics programming
    p.
      I study and work with 3D modeling and rendering algorithms. I'm familiar with the OpenGL pipeline and various mathematical methods of describing
      and rendering geometry. On occasion I like to write about them in my <a href='/blog.html'>blog</a>.
    ul.cloud
      li WebGL
      li OpenGL
      li Skeletal animation
      li Solid shading
      li Isosurface polygonization
      li Procedural geometry generation
      li Three.js
      li GLSL
      li Augmented reality
  // section.half
    h3 Game development and creative programming
    p.
      I enjoy developing (and playing) videogames as I think this is one of the areas of computer programming that encompasses the widest range of knowledge domains, 
      where all the efforts and skills of a programmer are heavily tested and brought to their limit. I thus think programming a videogame to be one of the most rewarding
      challenges out there. Specifically, one of the most fascinating techniques is procedural content generation, which I employ extensively in my game programming
      process.

