{% extends "index.html" %}

{% block content %}
<div class="container top-container">
  <article class="article twelve columns">
    <header>
      <h1>{{ page.title }}</h1>
      <small>
        <p>
          <time>{{ page.date | date(format = "%A, %e %h %Y") }}</time>
          &middot;
          <em>
            Reading time:
            {% if page.word_count < 360 %}
              1 min
            {% else %}
              {{ page.word_count / 180 | round }} mins
            {% endif %}
          </em>
        </p>
      </small>
    </header>
    <section>
      {{ page.content | safe }}
    </section>
  </article>

  <ul class="links">
    <li>
      <a href="https://github.com/veeenu" target="_blank">
        <img alt="GitHub" src="/img/github.svg"/>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/andreavenuta/" target="_blank">
        <img alt="LinkedIn" src="/img/linkedin.svg"/>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/johndisandonato" target="_blank">
        <img alt="Twitter" src="/img/twitter.svg"/>
      </a>
    </li>
    <li>
      <a href="https://twitch.tv/johndisandonato" target="_blank">
        <img alt="Twitch.tv" src="/img/twitch.svg"/>
      </a>
    </li>
    <li>
      <a href="cv.pdf" target="_blank">
        <img alt="CV - Icon made by Vitaly Gorbachev (https://www.flaticon.com/authors/vitaly-gorbachev) from www.flaticon.com" src="/img/cv.svg"/>
      </a>
    </li>
  </ul>
</div>
{% endblock content %}
