{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <meta property='og:title' content='{{ macros::page_title() | trim }}'>
    <meta property='og:type' content='website'>
    <meta property='og:site_name' content='Andrea Venuta'>
    <meta property='og:description' content='{{ macros::page_description() | trim }}'>
    <title>{{ macros::page_title() | trim }}</title>
    <link rel="stylesheet" href="{{ config.base_url | safe }}/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.1/katex.min.css" integrity="sha512-vJqxkZ+Sugf/6WRlpcxN01qVfX/29hF6qc33eHF1va3NgoV+U+wCi+uTAsQ10sDoGyBxHLdaHvGwDlV3yVYboA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.1/katex.min.js" integrity="sha512-5ufNcHqOYgilGEHPfuRIQ5B/vDS1M8+UC+DESZ5CwVgGTg+b2Ol/15rYL/GiCWJ/Sx8oVo0FPFok1dPk8U9INQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.1/contrib/mathtex-script-type.min.js" integrity="sha512-MBhOGY4yRA2eATtRGTcrDJCRqcnLai5+uu47GA2ueVr1MPzirC/iogLWRA8CXTlOTK09VI4fdTe4qE4LBfjsHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.1/contrib/auto-render.min.js" integrity="sha512-ZA/RPrAo88DlwRnnoNVqKINnQNcWERzRK03PDaA4GIJiVZvGFIWQbdWCsUebMZfkWohnfngsDjXzU6PokO4jGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false},
                  {left: '\\(', right: '\\)', display: false},
                  {left: '\\[', right: '\\]', display: true}
              ],
              throwOnError : false
            });
        });
    </script>
  </head>

  <body {% block bodyattribs %}{% endblock bodyattribs %}>
    <header id="menu-header">
      <a class="image" href="{{ config.base_url | safe }}">
        <div>
          <img src="{{ config.base_url | safe }}/me.jpg" alt="Andrea Venuta"/>
        </div>
        <span>Andrea Venuta</span>
      </a>
      <ul>
        <li><a href="{{ config.base_url | safe }}">About</a></li>
        <li><a href="{{ config.base_url | safe }}/blog.html">Blog</a></li>
      </ul>
    </header>

    {% block content %}
    {{ section.content | safe }}
    {% endblock content %}

    <script async src="/katex.min.js"></script>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9c82a3cc7db742e4bb18aebd57b40893"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
