@import './normalize'
@import './skeleton'
@import './syntax'

color-primary-0 = #383B3C;	/* Main Primary color */
color-primary-1 = #444C52;
color-primary-2 = #2F3134;
color-primary-3 = #26282A;
color-primary-4 = #1B1D1F;

color-blue-0 = #3E78A5; /* Main Primary color */
color-blue-1 = #92BBDB;
color-blue-2 = #6197C0;
color-blue-3 = #266698;
color-blue-4 = #124E7B;

color-white = #aeaeae;

body
  font-family: Raleway, Helvetica, sans-serif
  background: color-primary-3;
  color: color-white;
  padding-bottom: 8rem

  & > div > header
    margin-top: 6rem
    margin-bottom: 4rem
    img
      height: 8rem
      vertical-align: middle
      margin-right: 2rem

a
  color: color-blue-2
  text-decoration: none

code
  background: color-primary-2
  border-width: 0

ul.navbar
  list-style: none
  display: flex
  & > li
    display: block
    flex-grow: 1
    padding: 1rem 0
    border-bottom: 2px solid transparent

    &:hover
      border-bottom-color: color-blue-2

    & > a 
      display: block
      position: relative
      text-align: center
      text-decoration: none
      color: color-blue-2;

figure.highlight
  pre
    border-radius: 3px
    margin: 0
    code
      background: transparent
      border-width: 0
  table
    margin-bottom: .5rem
    margin-top: .5rem
    td
      padding-top: 0
      padding-bottom: 0
      border-bottom: 0